<h2>{{format}}</h2>

<p>${{cost}}</p>

{{#topDropUrl}}<p><a class="btn btn-primary drop" href="{{topDropUrl}}">Drop</a></p>{{/topDropUrl}}

{{#pods}}
  {{#podUrl}}<a href="{{podUrl}}"><h3>Pod {{podId}}</h3></a>{{/podUrl}}
  <table class="table table-striped">
    <tr>
      <th>Player</th>
      <th>Seat</th>
      {{#isAdmin}}<th>Actions</th>{{/isAdmin}}
    </tr>
  {{#players}}
    <tr>
      <td>{{>profilepic}}
        <a href="{{url}}">{{name}}</a> {{#dropped}}(dropped){{/dropped}}</td>
      <td>{{seat}}</td>
      {{#isAdmin}}<td>{{/isAdmin}}
        {{#dropUrl}}<a class="btn btn-warning" href="{{dropUrl}}">Drop Player</a>{{/dropUrl}}
      {{#isAdmin}}</td>{{/isAdmin}}
    </tr>
  {{/players}}
  </table>
  {{#pairUrl}}<p><a class="btn btn-warning" href="{{pairUrl}}">Pair Next Round</a></p>{{/pairUrl}}
{{/pods}}

{{#startUrl}}<p><a class="btn btn-warning" href="{{startUrl}}">Start Event</a></p>{{/startUrl}}
{{#endUrl}}<p><a class="btn btn-warning" href="{{endUrl}}">End Event</a></p>{{/endUrl}}
