      <div>
        {{#signOutUrl}}<p><a class="btn btn-default" href="{{signOutUrl}}">Sign Out</a></p>{{/signOutUrl}}
      </div>
      <div class="row footer">
        <div class="col-md-12">
          <p><small><a href="http://github.com/bakert/tournament/">Code on GitHub</a></small></p>
          <p><small><a href="{{privacyUrl}}">Privacy</a></small></p>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{jsUrl}}"></script>
  </body>
</html>
