<h2>Pod {{podId}}</h2>
{{#pairUrl}}<p><a class="btn btn-warning" href="{{pairUrl}}">Pair Next Round</a>{{/pairUrl}}
{{#rounds}}
  <h3>Round {{roundNumber}}</h3>
  <table class="table table-striped">
    {{#matches}}
      <tr>
        <td>
          {{>person}}
          </td>
          <td class="text-center">
            {{^potentialResults}}
              <big>{{wins}} - {{opponentWins}}</big>
            {{/potentialResults}}
            {{>resultreporter}}
          </td>
          <td>
          {{#opponent}}
            {{>person}}
          {{/opponent}}
        </td>
      </tr>
    {{/matches}}
  </table>
{{/rounds}}
