<h2>Pod {{podId}}</h2>
{{#pairUrl}}<p><a href="{{pairUrl}}">Pair Next Round</a>{{/pairUrl}}
{{#rounds}}
  <h3>Round {{roundNumber}}</h3>
  <table class="table table-striped">
    {{#matches}}
      <tr>
        <td>
          {{>profilepic}}
          {{name}}
          </td>
          <td class="text-center">
          <big>{{wins}}</big>
          {{#reportUrl}}
            <form class="form-inline" action="{{reportUrl}}">
              <input type="hidden" name="match_id" value="{{matchId}}">
              <input class="form-control" name="wins">
               <big>-</big>
              <input class="form-control" name="opponent_wins">
              <input class="btn btn-default" type="submit" value="Go">
            </form>
          {{/reportUrl}}
          {{^reportUrl}}
          -
          {{/reportUrl}}
          <big>{{opponentWins}}</big>
          </td>
          <td class="text-right">
          {{opponentName}}
          {{#opponentUrl}}
            <a href="http://facebook.com/profile.php?id={{opponentId}}"><img src="http://graph.facebook.com/{{opponentId}}/picture"></a>
          {{/opponentUrl}}
        </td>
      </tr>
    {{/matches}}
  </table>
{{/rounds}}
