<div class="row">
  <div class="col-xs-12">
    <h2>Events</h2>
  </div>
  <div class="col-xs-12">
    <table class="table table-striped">
      <tr>
        <th class="col-xs-4">Event</th>
        <th class="col-xs-1 text-right">Cost</th>
        <th class="col-xs-1 text-right">Players</th>
        <th class="col-xs-{{#isAdmin}}1{{/isAdmin}}{{^isAdmin}}6{{/isAdmin}}">Status</th>
        {{#isAdmin}}
          <th class="col-xs-5">Admin</th>
        {{/isAdmin}}
      </tr>
      {{#events}}
        <tr{{#signedUp}} class="success"{{/signedUp}} data-href="{{eventUrl}}">
          <td><a href="{{eventUrl}}">{{format}}</td>
          <td class="text-right">${{cost}}</td>
          <td class="text-right">{{numPlayers}}</td>
          <td>
            {{^started}}
              {{#signedUp}}<a class="btn btn-primary" href="{{dropUrl}}">Drop</a>{{/signedUp}}
              {{^signedUp}}<a class="btn btn-primary" href="{{signUpUrl}}">Sign Up</a>{{/signedUp}}
            {{/started}}
            {{#started}}
              Started
            {{/started}}
          </td>
          {{#isAdmin}}
            <td>
              {{^started}}
                <a class="btn btn-warning" href="{{startUrl}}">Start</a>
                <a class="btn btn-warning" href="{{cancelUrl}}">Cancel</a>
              {{/started}}
            </td>
          {{/isAdmin}}
        </tr>
      {{/events}}
    </table>
    <p>Please note all events cost +$10 for guests.</p>
    {{#isAdmin}}
      <p><a class="btn btn-warning" href="{{createEventUrl}}">Create an Event</a></p>
    {{/isAdmin}}
  </div>
</div>
